annotated-types
anyio
certifi
cffi
charset-normalizer
click
cryptography
h11
httpcore
httpx
idna
markdown-it-py
mdurl
packaging
pydantic
pydantic-core
pydantic-settings
Pygments
PyJWT
python-dotenv
requests
rich
sniffio
typing-inspection
typing_extensions
urllib3
Django
djangorestframework
django-cors-headers
gunicorn
djangorestframework-simplejwt
drf-spectacular
